.upAndAway{
  position: relative;
  animation-name: upAndAwayFrame;
  animation-duration: .5s;
  animation-fill-mode: forward;
}
@keyframes upAndAwayFrame{
  0%{
    bottom: 0px;
    opacity: 1.0;
  }
  100%{
    bottom: 300px;
    opacity: 0;
  }
}
.upAndStay{
  position: relative;
  animation-name: upAndStayFrame;
  animation-duration: .5s;
  animation-fill-mode: forward;

}

@keyframes upAndStayFrame{
  0%{
    top: 160px;
    opacity: 0;
  }
  100%{
    top: -180px;
    opacity: 1.0;
  }
}
