.graspTitleBar2{
	display: flex;
	width: 100%;
	position: fixed;
	background-color: #455A64;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	color: white;
	height: 80px;
	line-height: 80px;
	font-size: 48px;
	z-index: 8;

}
.logo2{
	margin-left: 40px;
	color: white;
}


.progress{
	background-color: #607D8B;
	width: 500px;
	height: 20px;
	margin-top: 34px;
	position: relative;
	z-index: 10;
	margin-left: 50%;
}
.proglab{
	margin-top: 36px;
	position: relative;
	z-index: 10;
	font-size: 14px;
	line-height: 14px;
	margin-left: 20px;

}
.l{
	left: 1010px;
}
.progressReal{
	background-color: #4CAF50;
	width: 120px;
	height: 20px;
	position: relative;
	z-index: 12;

}
.carrierRow{
	    height: 140px;
    width: 59%;
    margin-left: 200px;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    top: 120px;
}

.realPrice{
	color: rgba(0, 0, 0, .75);
	font-size: 36px;
	line-height: 36px;
		text-align: center;
		width: 300px;
		padding-bottom: 4px;
	border-bottom: solid 4px #4CAF50;
}
.chumpPrice{
	color: rgba(0, 0, 0, .54);
	font-size: 36px;
	line-height: 36px;
	text-align: center;
		width: 300px;

}
.realPriceL{
	color: #455A64;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
		width: 300px;

}
.chumpPriceL{
		color: #455A64;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
		width: 300px;

}

.priceRow{
	height: 140px;
    width: 59%;
    display: flex;
    margin-left: 20.5%;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px
		flex-direction: column;
}
.priceLabelRow{
	    height: 140px;
    width: 59%;
    display: flex;
    margin-left: 20.5%;
    position: relative;
    justify-content: space-around;
    align-items: center;
    top: 80px;
}





.carrier{
	width: 200px;
	height: 100px;
	background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 40px;

}
.welcome{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 160px;
    height: 260px;
    flex-direction: column;
}
.welk{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 200px;
    flex-direction: column;
}

.lower{
	height: 80px;
	top: -60px;
}
.welcometext{
	max-width: 60%;
	color: rgba(0, 0, 0, .54);
	text-align: center;
    align-self: center;
    font-size: 18px;
}
.startbutton2{
	background-color: #4CAF50;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	width: 160px;
    align-self: center;
    	text-align: center;
    	color: white;
    height: 60px;
    font-size: 24px;
    vertical-align: center;
    line-height: 60px;
}
.cardRow{
	display: flex;
	width: 90%;
	top: 200px;
	left: 5%;
	position: relative;
	justify-content: space-between;
}
.card{
	width: 300px;
	max-height: 300px;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	background-color: white;
	display: flex;
	flex-direction: column;
	position: relative;
}
.cardLabel{
	color:#607D8B;
	margin-left: 8px;
	line-height: 42px;
	font-size: 30px;
	width: 100%;

}
.productshot{
	width: 300px;
	height: 200px;
	background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;

}


.at{
	background-image: url("http://vignette1.wikia.nocookie.net/logopedia/images/6/69/AT%26T_logo_2005.png/revision/latest?cb=20100628142135");
	    border: 4px solid #4CAF50;
    padding: 8px;
    border-radius: 4px;
}
.vz{
	background-image: url("http://vignette4.wikia.nocookie.net/logopedia/images/4/4c/Verizon_Wireless_logo.png/revision/latest?cb=20110113033315");
}
.sp{
	background-image: url("http://vignette1.wikia.nocookie.net/logopedia/images/4/48/Sprint_Nextel_logo.svg/revision/latest/scale-to-width-down/200?cb=20111030020926");
}
.tm{
	background-image: url("http://vignette2.wikia.nocookie.net/logopedia/images/e/ee/T-Mobile_logo.svg/revision/latest?cb=20130803174919");
}.ap{
	background-image: url("http://logok.org/wp-content/uploads/2014/04/Apple-logo-grey-880x625.png");
		    border: 4px solid #4CAF50;
    padding: 8px;
    border-radius: 4px;

}


body{
	margin: 0;
	font-family: 'Roboto', sans-serif;

}
